<div class="container mb-5">
    <nav class=" container navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="m-5 text-white">Detalle de Carrito n° {{data.id}}</h1>
        <form action="/api/carrito" , method="get">
            <button type="submit" class="btn bg-white">Ver Carritos</button>
        </form>
        </div>
    </nav>
</div>
<table class="table table-dark table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">ID Producto</th>
            <th scope="col">Nombre del Curso</th>
            <th scope="col">Precio</th>
            <th scope="col">Logo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody id="form">
        {{#each data.products}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>
                {{this.nombre}}
            </td>
            <td>$ {{this.price}}
            </td>
            <td>
                <img style="max-width: 50px;" src={{this.thumbnail}}>
            </td>
            <td>
                <form action="delete/{{this.id}}" , method="POST">
                    <button name="_DELETE" type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="container mb-5">
    <nav class=" container navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h3 class="m-5 text-white">Agregar mas productos al carrito</h3>
        </div>
    </nav>
    <div class="container d-flex flex-wrap justify-content-around p-3">
        {{#each products}}
        <div class="card m-3 text-center rounded" style="min-width: 10rem;">
            <div>
                <img class="card-img-top" src={{this.thumbnail}} style="max-width: 10rem;" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.nombre}}</h5>
                <p class="card-text">{{this.price}}.</p>
                <form action="productos/{{this.id}}" , method="post">
                    <button type="submit" class="btn btn-dark">Añadir al Carrito</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>